/*CSS rules in this file apply only to the index.html file*/

/*Import the Google FOnt*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*Variables*/
:root {

	--submit-button-color: green;
	--normal-button-color: cornflowerblue;
	--menu-button-color: white;
	--std-background-color: lightgray;
	--aux-background-color: #61b15a;
	--big-spacing: 20px;
	--medium-spacing: 10px;
	--small-spacing: 5px;
	--min-font-size: 17px;
	--max-font-size: 28px;
}
/*------------------------------------------------------------*/


/*Global rules*/
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

*:focus {

	outline: none;
}

p, a, li, input, label, textarea, button {

	font-size: var(--min-font-size);
	line-height: 1.5;
}

button {

	margin-top: var(--big-spacing);
	margin-right: var(--medium-spacing);
	padding: 2px 25px 2px 25px;
	background-color: var(--normal-button-color);
	border: none;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
}

button:hover {

	background-color: var(--aux-background-color);
}

form {

	width: 60%;
	margin-left: 20%;
	margin-bottom: var(--big-spacing);
	border-radius: 2px;
	padding: var(--medium-spacing);
	background-color: #ffffff;
}

label {

	display: block;
	margin-bottom: var(--small-spacing);
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {

	width: 100%;
	padding: var(--medium-spacing);
	background-color: lightgray;
	border: none;
	border-radius: 2px;
}

textarea {

	height: 150px;
	resize: none;
}

input[type="submit"] {

	margin-top: var(--medium-spacing);
	padding: 2px 25px 2px 25px;
	background-color: var(--normal-button-color);
	color: #ffffff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

input[type="submit"]:hover {

	background-color: var(--aux-background-color);
}

.popup_form {

	position: fixed;
	top: 100px;
	left: 15%;
	width: 50%;
	padding: var(--big-spacing);
}

.popup_form label {

	margin-top: var(--big-spacing);
}

.blurry {

	opacity: 0.3;
}

.visible {

	display: block;
}

.hidden {

	display: none;
}

.delete_btn {

	background-color: orange;
}

.delete_btn:hover {

	background-color: red;
}

.font_bold {

	font-weight: bold;
}

.font_normal {

	font-weight: normal;
}

.link_disabled {

	pointer-events: none;
	text-decoration: none;
	color: #000;
}
/*------------------------------------------------------------*/


/*Page structure: Menu on the left side, content on the right side. */
body {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: var(--std-background-color);
}

#side_menu {

	width: 20%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--aux-background-color);
}

#content_container {

	width: 80%;
	margin-left: 20%;
	background-color: var(--std-background-color);

}
/*-----------------------------------------------------------*/


/*Side nabigation panel*/
#side_menu h1 {

	color: #ffffff;
	padding: var(--big-spacing);
	font-size: var(--max-font-size);
}

#side_menu p {

	text-align: center;
	padding: var(--small-spacing);
}

#menu_buttons li {

	list-style-type: none;
	color: #ffffff;
	padding: var(--big-spacing);
	cursor: pointer;
}

#menu_buttons li.active,
#menu_buttons li:hover {

	background-color: #adce74;
}

#menu_buttons a {

	text-decoration: none;
	color: #ffffff;
}
/*-------------------------------------------------------------*/


/*Content Container*/
#content_header {

	background-color: var(--aux-background-color);
	margin-bottom: var(--big-spacing);
}

#content_header h2 {

	color: #ffffff;
	padding: var(--big-spacing);
}

#home h2,
#contact_us h2 {

	padding: var(--big-spacing);
	text-align: center;
}

#home p,
#contact_us p {

	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
   color: #ffffff;
	background-color: var(--aux-background-color);
	padding: var(--big-spacing);
	text-align: center;
}

#website_demo {

	width: 70%;
	height: auto;
	margin-left: 15%;
	margin-top: var(--big-spacing);
}


#home button:first-of-type {

	margin-left: 15%;
}

#add_member_btn, #add_event_btn {

	margin-bottom: var(--big-spacing);
}

#logo_form img {

	height: 100px;
	width: auto;
	margin-bottom: var(--medium-spacing);
}

#change_password_form label {

	margin-top: var(--medium-spacing);
}

#team_info, #events_info{

	width: 70%;
	margin-left: 15%;
}

#team_info .member_info,
#events_info .event_box {

	width: 100%;
	margin-bottom: var(--big-spacing);
	padding: var(--medium-spacing);
	background-color: #ffffff;
	border-radius: 2px;
}

#team_info .member_info p,
#events_info .event_box p {

	color: black;
	margin-top: var(--medium-spacing);
}

/*-----------------------------------------------
*CSS rules for screen size smaller than 1000px
*-----------------------------------------------*/

@media(max-width: 1200px)
{
	form, #team_info, #events_info, #website_demo {

		width: 96%;
		margin-left: 2%;
	}

	#add_member_btn, #add_event_btn {

		margin-left: 0;
	}
}
